[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
tox = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-env = "*"
pytest-django = "*"

[packages]
django = "==2.2.20"
django-health-check = "*"
python-json-logger = "*"
request-id-django-log = "*"
psycopg2-binary = "*"
gevent = "*"
python-alelo = "*"
pynubank = "*"
gunicorn = "*"
whitenoise = ">=4.1.3"
telepot = "*"
google-api-python-client = "*"
python-dateutil = "*"
oauth2client = "*"
djangorestframework = ">=3.10.3"
markdown = "*"
django-filter = "*"
djangorestframework-jwt = "*"
coreapi = "*"
django-rest-swagger = "*"
sentry-sdk = "*"
django-q = "*"
arrow = "*"
isoweek = "*"
django-import-export = "*"
python-telegram-bot = "*"
pillow = "*"
python-slugify = "*"

[requires]
python_version = "3.6"
