[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
tox = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-env = "*"
pytest-django = "*"

[packages]
django = "==2.2.7"
django-health-check = "==3.11.0"
python-json-logger = "==0.1.11"
request-id-django-log = "==0.1.1"
psycopg2-binary = "==2.8.4"
gevent = "==1.4.0"

python-alelo = "==0.0.2"
pynubank = "==1.0.1"

gunicorn = "*"
whitenoise = ">=4.1.3"
telepot = "*"
google-api-python-client = "*"
python-dateutil = "*"
oauth2client = "*"
djangorestframework = ">=3.10.3"
markdown = "*"
django-filter = "*"
djangorestframework-jwt = "*"
coreapi = "*"
django-rest-swagger = "*"
sentry-sdk = "*"
django-q = "*"
arrow = "*"
isoweek = "*"
django-import-export = "*"
python-telegram-bot = "*"

[requires]
python_version = "3.6"
