{% load i18n %}
<html>
  <head>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">

      google.charts.load("current", { packages: ["corechart"] });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        {% language 'en' %}
        var data = google.visualization.arrayToDataTable([
          ["Mês", "Débito"],

          {% for i in data %}
                ["{{i.0}}", {{i.1 | floatformat:'2'}}],
            {% endfor %}

        ]);

        var options = {
          title: "Company Performance",
          legend: { position: "bottom" }
        };

        var chart = new google.visualization.LineChart(
          document.getElementById("curve_chart")
        );

        chart.draw(data, options);
        {% endlanguage %}
      }
    </script>
    <header>
            <link
              rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous"
            />
  </head>
  <body class="content">
    <h1>Relatório por categoria: {{category}}</h1>

    <div class="row">
        <div class="col">
    <div id="curve_chart" style="width: 100%; height: 500px"></div>
</div>

</div>
  </body>
</html>
