<h1>Relatórios</h1>

<ul>
  <li><a href="{% url 'variableyear' %}?y=2018">Variável Anual 2018</a></li>
  <li><a href="{% url 'variableyear' %}?y=2019">Variável Anual 2019</a></li>

  <li>
    Por Categoria 2018
    <ul>
      {%for c in categorys%}
      <li><a href="{% url 'bycategory' %}?y=2018&c={{c.id}}"> {{c.name}}</a></l>
      {%endfor%}
    </ul>
  </li>
  <li>
        Por Categoria 2019
        <ul>
          {%for c in categorys%}
          <li><a href="{% url 'bycategory' %}?y=2019&c={{c.id}}"> {{c.name}}</a></l>
          {%endfor%}
        </ul>
      </li>
</ul>
