{% load i18n %} <!DOCTYPE html>
<html lang="en-US">
  <header>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </header>
  <body>
    <h1>Categoria por mês no ano de {{ year }}</h1>

    <div class="d-flex flex-wrap" style="height: 100%;">
      {% for d in data %}
      <div id="id_{{d.month}}"></div>
      {% endfor %}
    </div>

    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>

    <script type="text/javascript">

            function openPop(month, category){
              let year = {{ year }};

              let stringFirstDate = year + '-' + month + '-01';

          let endDate = new Date();
          endDate.setFullYear(year);
          endDate.setMonth(month , 0);
          let stringEndDate =
            endDate.getFullYear() + '-' + (endDate.getMonth() + 1) + '-' + endDate.getDate();


              fetch('http://www.iluvatar.com.br/api/v1/records/?category__name='+category+'&format=json&payment_date_time_after=' +
      stringFirstDate +
      '&payment_date_time_before=' +
      stringEndDate +
      '&type_entry__id=1')
              .then(function(response) {
                return response.json();
              })
              .then(function(myJson) {

                document.getElementById("tbodypop").innerHTML = "";


                let table = document.getElementById("tbodypop");
                myJson.forEach(e => {

                  let row = table.insertRow();
                  let cell1 = row.insertCell(0);
                  let cell2 = row.insertCell(1);
                  let cell3 = row.insertCell(2);
                  let cell4 = row.insertCell(3);

                  cell1.innerHTML = e.create_date_time.split("-")[2].split("T")[0] + "/" + e.create_date_time.split("-")[1];
                  cell2.innerHTML = e.debit;
                  cell3.innerHTML = e.credit;
                  cell4.innerHTML = e.description;

                });

                $('#ricardo').modal()
              });


              // alert(category);
            }
            // Load google charts
            google.charts.load("current", { packages: ["corechart"] });
            google.charts.setOnLoadCallback(drawChart);

            {% for d in data %}

            var chart{{d.number}};
            var data{{d.number}};

            function select_{{d.number}}(){
              let cats = [];

              let c = chart{{d.number}}.getSelection();

              if (c.length == 1) {
                openPop({{d.number}}, data{{d.number}}.getValue(c[0].row,0));
              }

            }
            {% endfor %}



            // Draw the chart and set the chart values
            function drawChart() {

              {% get_current_language as LANGUAGE_CODE %}
              <!-- Current language: {{ LANGUAGE_CODE }} -->

              {% language 'en' %}
              {% get_current_language as LANGUAGE_CODE %}
              <!-- Current language: {{ LANGUAGE_CODE }} -->


              {% for d in data %}

                data{{d.number}} = google.visualization.arrayToDataTable([
                ["Task", "Hours per Day"],
                {% for i in d.data %}
                      ["{{i.0}}",{{ i.1 | floatformat:'2' }}],
                  {% endfor %}
                ]);

                var options{{d.number}} = { title: "{{d.month}}", width: 550, height: 400, sliceVisibilityThreshold: .03 };

                chart{{d.number}} = new google.visualization.PieChart(
                  document.getElementById("id_{{d.month}}")
                );
                chart{{d.number}}.draw(data{{d.number}}, options{{d.number}});

                google.visualization.events.addListener(chart{{d.number}}, "select", select_{{d.number}})

              {% endfor %}

              {% endlanguage %}

              // Optional; add a title and set the width and height of the chart
            //   var options = { title: "My Average Day", width: 550, height: 400 };
            //   var options2 = { title: "Outro mês", width: 550, height: 400 };

            //   // Display the chart inside the <div> element with id="piechart"
            //   var chart = new google.visualization.PieChart(
            //     document.getElementById("piechart")
            //   );
            //   chart.draw(data, options);

            //   var chart2 = new google.visualization.PieChart(
            //     document.getElementById("piechart2")
            //   );
            //   chart2.draw(data, options2);
            }
    </script>

    <div
      id="ricardo"
      class="modal fade bd-example-modal-lg"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myLargeModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <table class="table" id="tablepop">
            <thead>
              <tr>
                <th scope="col">Data de Criação</th>
                <th scope="col">Débito</th>
                <th scope="col">Crédito</th>
                <th scope="col">Descrição</th>
              </tr>
            </thead>
            <tbody id="tbodypop"></tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
